*{
    box-sizing: border-box;
    margin: 0;
}


h1{
font-family: "Jomhuria", serif;
font-size:88px;
letter-spacing: 4px;
text-transform: uppercase;
color: #01FFFF;
}
h2{
font-family: "Jomhuria", serif;
font-size: 72px;
text-transform: uppercase;
letter-spacing: 4px;
color: #01FFFF;
}
h3{
font-family: "Jost", serif;
font-size: 20px;
text-transform: uppercase;
color:#F5FF8C;
}
p,a{
font-family: "Jost", serif;
font-size: 22px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #EB6423;
    color: white;
    padding: 0 60px;
}
nav>ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    padding: 0px;
}

.section{
    position: relative;
    width:100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-box{
    width:1440px;
}

.small-box{
    width: 1000px;
}

.title{
    text-align: center;
    margin-bottom: 40px;
}


button{
background-color: #01FFFF;
padding: 16px 16px;
max-width: 400px;
border-radius: 32px;
border: 0px solid black;
margin-top: 40px;
font-size: 40px;
line-height: 44px;
font-family: "Jomhuria", serif;
color:#005078;
}

#hero{
    flex-direction: row;
    width: 100%;
    background-color: #005078;
    color:white;
}
#hero-image,#hero-text{
    width: 50%;
    display: flex;
}

#hero-text{
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    text-align: left;
    padding: 80px;
}

#hero-image>img{
    width: 100%
}

#usp{
    flex-direction: column;
    width:100%;
    align-items: center;
    background-image: url('images/usp-background.png');
    background-size: cover;
    background-position: center;
    padding: 160px 0;
    color: white;
}

.wrapper{
    text-align: center;
    display: flex;
    flex-direction: row;
    gap:20px;
}
#services{
    padding: 80px 0;
    flex-direction: column;
    text-align: center;
    background-color: #F5FF8C;
    color: #5A3296;
}
#services>.middle-box>.title>h2{
    color:inherit;
}
.service-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#service-menu{
    width: 30%;
    text-align: left;
}
#service-menu>ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    height: 100%;
}
#service-menu>ul>li>a{
    font-family: "Jomhuria", serif;
    font-size: 40px;
    text-transform: uppercase;
}

#service-item{
    width: 70%;
    text-align: left;
}
#service-illustration, #service-illustration>img, #service-illustration>p{
    width: 100%;
}

#advantages{
    flex-direction: column;
    background-color: #EB6423;
    padding: 80px 0;
    color: white;

}
#last-call{
    flex-direction: column;
    color: white;
    background-image: url('images/last-call-background.png');
    background-size: cover;
    background-position: center;
    height: 720px;
}
.last-call-card{
    background-color: #EB6423;
    padding: 40px;
    text-align: center;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00283C;
    color: white;
    padding: 60px 0 120px 0;
}

footer>nav>ul{
    color:rgba(255,255,255,0.3);
}

footer>.logo{
    margin-bottom: 20px;
}

.logo{
    font-size: 32px;
    letter-spacing: 2px;
}