:root {
  --orange: #eb6423;
  --aqua: #01ffff;
  --pastel-yellow: #f5ff8c;
  --dark-cerulean: #005078;
  --cornflower-blue: #1482c8;
  --violet: #5a3296;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--orange);
  color: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* TYPOGRAPHY */

h1,
h2,
.btn {
  font-family: 'Jomhuria', serif;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}
h3,
p,
a,
li {
  font-family: 'Jost', serif;
}

h1 {
  font-size: 4.5rem; /* 72px */
  line-height: 3rem; /* 64px */
}
h2 {
  font-size: 3.25rem; /* 52px */
  line-height: 3.25rem; /* 52px */
}

h3 {
  font-size: 1.5rem; /* 24px */
  line-height: 1.875rem; /* 32px */
}

.btn {
  font-size: 1.5rem; /* 24px */
  line-height: 1.5rem; /* 32px */
}

p,
a,
li {
  font-size: 1.125rem; /* 18px */
  line-height: 1.625rem; /* 26px */
  text-decoration: none;
  color: inherit;
}

p.rich {
  margin-bottom: 2rem;
}
li.rich {
  margin-bottom: 1rem;
}

a:link {
  color: var(--orange);
}
/* LAYOUTS */

section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64em; /* 1024px */
  margin: 5rem 0; /* 80px */
}

.container.s {
  width: 48em; /* 768px */
}

.container.full-width {
  width: 100%;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.layout.twoCol {
  grid-template-columns: 1fr 1fr;
}
.layout.fiveCol {
  grid-template-columns: repeat(5, 1fr);
  gap: 0.75rem;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.wrapper.space-around {
  justify-content: space-around;
}

.wrapper.vertical {
  flex-direction: column;
}
.wrapper.Vcentered {
  justify-content: center;
}

.wrapper.full-height {
  height: 100%;
}

.element {
  display: flex;
  gap: 0.5rem;
}

.element.vertical {
  flex-direction: column;
}

.element.centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.element.full-width {
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.card.outlined {
  justify-content: start;
  border-radius: 1rem;
  border: 0.125rem solid var(--pastel-yellow);
  padding: 0.75rem;
}

.rich-text {
  margin-top: 5rem;
}

/* UTILITY */

a:link.btn {
  background-color: var(--aqua);
  padding: 0.5rem 2rem;
  padding-top: 0.875rem;
  border-radius: 2rem;
  color: var(--dark-cerulean);
  flex-grow: 0;
  transition: transform 1s;
}

a:link.btn:hover {
  transform: scale(1.05);
}

/* OVERRIDES */

#hero {
  background-color: var(--dark-cerulean);
}

#hero > .container {
  margin-bottom: 0;
}

#hero-text {
  gap: 2rem;
  padding: 0 2.5rem;
  align-items: flex-start;
}

#hero-text > h1 {
  color: var(--aqua);
}

#hero-image {
  position: relative;
}

#hero-illustration {
  position: relative;
  width: 100%;
  max-height: none;
}

#usp {
  background-image: url('images/usp-background.webp');
  background-size: cover;
  background-position: center;
  height: 50vh;
}

#usp-banner {
  background-color: var(--cornflower-blue);
  border: 0.25rem solid var(--aqua);
  border-radius: 2rem;
  padding: 3rem; /* 48px */
}

#usp-banner > h2 {
  color: var(--aqua);
}

#services {
  background-color: var(--pastel-yellow);
  color: #5a3296;
}

#services > * > .layout {
  gap: 0;
}

#advantages {
  background-color: var(--orange);
}

#advantages > .container {
  flex-direction: column;
  gap: 1rem;
}

#advantages > * > * > * > h2 {
  color: var(--pastel-yellow);
}

.card > h3 {
  color: var(--pastel-yellow);
}

#last-call {
  background-image: url('images/last-call-background.webp');
  background-size: cover;
  background-position: center;
  height: 50vh;
}

#cta-banner {
  background-color: var(--orange);
  padding: 3rem; /* 48px */
  border-radius: 2rem;
}

#cta-banner > h2 {
  color: var(--aqua);
}

footer > .logo {
  color: white;
}

#navigation > li > a,
#language-switcher > a,
#footer-navigation > li > a {
  color: inherit;
}

/* EDGE DECORATIONS */
.edge {
  position: absolute;
  bottom: -2px;
  width: 104%;
  z-index: 100;
}
.hero-edge {
  height: 106%;
  width: auto;
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 100;
}

.hero-edge-m {
  display: none;
  z-index: 100;
}

/* SERVICES */

.tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tab {
  text-align: center;
  padding: 5px 20px;
  background-color: #d3b7ff;
  border: 2px solid #5a3296;
  flex: 1 1 auto;
}
.tab.active {
  background-color: #5a3296;
  color: var(--pastel-yellow);
}

.service {
  top: 0;
  position: absolute;
  overflow: hidden;
  height: 0;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  transition: opacity 1.5s;
}

.service.active {
  position: static;
  display: flex;
  height: auto;
  opacity: 1;
}

/* SLIDER */
.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 24rem;
}
.slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  grid-template-columns: 20rem 1fr;
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--pastel-yellow);
  border: 0.25rem solid var(--orange);
  color: var(--violet);
  border-radius: 2rem;
  transition: transform 1s;
}

.slide-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: var(--pastel-yellow);
  color: var(--orange);
}
.arrow.arrow-left {
  left: -3rem;
}
.arrow.arrow-right {
  right: -3rem;
}

.slider-dots {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  bottom: -1rem;
}

.slider-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--pastel-yellow);
}
.slider-dot.active {
  background-color: var(--aqua);
}
/* NAVIGATION */

header {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: var(--orange);
  color: white;
  z-index: 1000;
}

#header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 60px;
}
#navigation,
#footer-navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  padding: 0px;
}

.logo {
  font-size: 32px;
  letter-spacing: 2px;
}

#burger {
  width: 32px;
  height: 32px;
  display: none;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.bar {
  width: 1.75rem;
  height: 0.125rem;
  background-color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00283c;
  color: rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 4rem; /* 64px */
  gap: 2rem;
}

.credits {
  margin-top: 2rem;
}

@media screen and (max-width: 960px) {
  /* TYPOGRAPHY */
  h1 {
    font-size: 3.25rem; /* 56px */
    line-height: 2.25rem; /* 40px */
  }
  h2 {
    font-size: 2.5rem; /* 40px */
    line-height: 2.5rem; /* 40px */
  }

  h3 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }

  .btn {
    font-size: 1.375rem; /* 20px */
    line-height: 1.375rem; /* 20px */
  }

  p,
  a,
  li {
    font-size: 1rem; /* 18px */
    line-height: 1.5rem; /* 26px */
  }

  p.rich {
    margin-bottom: 2rem;
  }
  li.rich {
    margin-bottom: 1rem;
  }

  /*   LAYOUTS */
  .container {
    width: 35em; /* 560px */
  }

  .container.s {
    width: 30em; /* 480px */
  }

  .layout.twoCol {
    grid-template-columns: 1fr;
  }

  /* OVERRIDES */
  #hero > .container > .layout.twoCol {
    grid-template-rows: 22rem;
  }

  #hero-text {
    align-items: center;
    justify-items: center;
    text-align: center;
  }

  .hero-edge {
    display: none;
  }
  .hero-edge-m {
    position: absolute;
    display: block;
    top: -2px;
    right: -2px;
    left: -2px;
    z-index: 150;
  }

  /* SLIDER */
  .slider {
    height: 28em;
  }

  .slide {
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 1fr;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .slider-illustration {
    width: 100%;
  }

  .slider-dots {
    bottom: -2rem;
  }

  .slider-dot {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 0.375rem;
  }

  #navigation {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    border-radius: 0 0 2rem 2rem;
    max-height: 0;
    transition: max-height 1s;
  }
  #burger {
    display: flex;
  }

  #navigation.active {
    max-height: 100vh;
    padding: 1rem;
  }
}

@media screen and (max-width: 560px) {
  /* TYPOGRAPHY */
  h2 {
    font-size: 2.5rem; /* 40px */
    line-height: 2rem; /* 32px */
  }

  h3 {
    font-size: 1.125rem; /* 20px */
    line-height: 1.625rem; /* 28px */
  }

  .btn {
    font-size: 1.375rem; /* 20px */
    line-height: 1.375rem; /* 20px */
  }

  p,
  a,
  li {
    font-size: 1rem; /* 18px */
    line-height: 1.5rem; /* 26px */
  }

  p.rich {
    margin-bottom: 2rem;
  }
  li.rich {
    margin-bottom: 1rem;
  }

  /*   LAYOUTS */
  .container {
    width: 20em; /* 320px */
  }

  .container.s {
    width: 16em; /* 256px */
  }

  /* SLIDER */
  #header-container {
    padding: 0 2rem;
  }

  #cta-banner {
    padding: 2rem;
  }

  /* SLIDER */
  .slider {
    height: 24em;
  }

  .slide {
    grid-template-rows: 12em 1fr;
  }

  .slider-dots {
    bottom: -1.5rem;
  }

  .slider-dot {
    height: 0.5rem;
    width: 0.5rem;
  }
  .arrow.arrow-left {
    left: -2.5rem;
  }
  .arrow.arrow-right {
    right: -2.5rem;
  }
}
